@import "../../style/variables.scss";

.app {
    position: relative;
    min-height: 100vh;
    padding: 50px 0 350px;
    overflow: hidden;

    &__column {
        max-width: 1100px;
        min-width: 320px;
        margin: 0 auto;
        padding: 0 30px;

        @include respond-to(mobile-devices) {
            padding: 0 20px;
        }
    }

    &__background-decoration {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
