@import "./variables";

.button {
    min-width: 100px;
    padding: 10px 15px;
    font-size: 14px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    background-color: $main;
    border: none;
    cursor: pointer;
    transition: opacity $transition-duration;

    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }

    &__secondary {
        background-color: $grey;
    }

    &:hover {
        opacity: 0.8;
    }
}
